workflows/lead-enrichment/workflow.json
{
  "name": "Lead Enrichment & Qualification Pipeline v2.0",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-enrichment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_trigger",
      "name": "Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"email\"]}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json[\"company\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validator",
      "name": "Validate Lead Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://api.clay.com/v1/enrich",
        "authentication": "headerAuth",
        "headerAuth": {
          "name": "Authorization",
          "value": "Bearer {{$credentials.clay_api_key}}"
        },
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n  \"email\": \"={{$json[\"email\"]}}\",\n  \"company\": \"={{$json[\"company\"]}}\",\n  \"enrichment_depth\": \"comprehensive\"\n}"
      },
      "id": "clay_enrichment",
      "name": "Clay.com Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "url": "https://api.apollo.io/v1/people/match",
        "authentication": "headerAuth",
        "headerAuth": {
          "name": "api_key",
          "value": "{{$credentials.apollo_api_key}}"
        },
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n  \"email\": \"={{$json[\"email\"]}}\",\n  \"organization_name\": \"={{$json[\"company\"]}}\"\n}"
      },
      "id": "apollo_enhancement",
      "name": "Apollo.io Enhancement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a lead qualification expert. Score the lead from 0-100 based on: company size, revenue, technology stack, growth signals, and title seniority."
            },
            {
              "role": "user",
              "content": "Lead Data:\n{{$json}}\n\nProvide a qualification score and recommended action."
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "responseFormat": "json_object"
        }
      },
      "id": "ai_scorer",
      "name": "AI Lead Scoring",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"qualification_score\"]}}",
              "operation": "largerEqual",
              "value2": 70
            }
          ]
        }
      },
      "id": "score_router",
      "name": "Route by Score",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "resource": "lead",
        "operation": "upsert",
        "leadEmail": "={{$json[\"email\"]}}",
        "additionalFields": {
          "company": "={{$json[\"company\"]}}",
          "score": "={{$json[\"qualification_score\"]}}",
          "enrichment_data": "={{JSON.stringify($json[\"enrichment\"])}}",
          "status": "={{$json[\"qualification_score\"] >= 70 ? \"Hot\" : \"Warm\"}}"
        }
      },
      "id": "salesforce_update",
      "name": "Update Salesforce",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "channel": "#sales-alerts",
        "text": "🔥 High-Value Lead Alert!\n\nCompany: {{$json[\"company\"]}}\nContact: {{$json[\"name\"]}}\nTitle: {{$json[\"title\"]}}\nScore: {{$json[\"qualification_score\"]}}/100\n\nRecommended Action: {{$json[\"recommended_action\"]}}\n\n<{{$json[\"salesforce_url\"]}}|View in Salesforce>",
        "authentication": "webhook",
        "webhookUri": "{{$credentials.slack_webhook}}"
      },
      "id": "slack_notification",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "Lead enriched and qualified successfully"
            }
          ],
          "number": [
            {
              "name": "qualification_score",
              "value": "={{$json[\"qualification_score\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Lead Webhook": {
      "main": [
        [
          {
            "node": "Validate Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Lead Data": {
      "main": [
        [
          {
            "node": "Clay.com Enrichment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Apollo.io Enhancement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clay.com Enrichment": {
      "main": [
        [
          {
            "node": "AI Lead Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo.io Enhancement": {
      "main": [
        [
          {
            "node": "AI Lead Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Lead Scoring": {
      "main": [
        [
          {
            "node": "Route by Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Score": {
      "main": [
        [
          {
            "node": "Update Salesforce",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Salesforce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Salesforce": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Alert": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "error_handler_workflow_id"
  },
  "staticData": null,
  "tags": [
    {
      "name": "production",
      "createdAt": "2024-01-15T10:00:00.000Z"
    },
    {
      "name": "lead-enrichment",
      "createdAt": "2024-01-15T10:00:00.000Z"
    },
    {
      "name": "sales",
      "createdAt": "2024-01-15T10:00:00.000Z"
    }
  ],
  "updatedAt": "2024-12-15T14:30:00.000Z",
  "createdAt": "2024-01-15T10:00:00.000Z",
  "meta": {
    "templateId": "lead-enrichment-v2",
    "templateVersion": "2.0.0",
    "instanceId": "production-001"
  }
}